@font-face {
  font-family: 'Museo';
  src: url("../Public/fonts/Museo_Slab_900.otf") format("opentype");
}
@font-face {
  font-family: 'Playball';
  src: url("../Public/fonts/Playball-Regular.ttf") format("opentype");
}
@font-face {
  font-family: 'Lato-Black';
  src: url("../Public/fonts/Lato-Black.ttf") format("opentype");
}
@font-face {
  font-family: 'Lato-Light';
  src: url("../Public/fonts/Lato-Light.ttf") format("opentype");
}
@font-face {
  font-family: 'Lato-Thin';
  src: url("../Public/fonts/Lato-Thin.ttf") format("opentype");
}
@font-face {
  font-family: 'Lato-Bold';
  src: url("../Public/fonts/Lato-Bold.ttf") format("opentype");
}
@font-face {
  font-family: 'Lato-Regular';
  src: url("../Public/fonts/Lato-Bold.ttf") format("opentype");
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-image: url('../public/backgrounds/ferran.png'), url('../public/backgrounds/ferran2.png'), url('../public//backgrounds/cta.png') ;
  background-position-y: 15vh, 120vh, 315vh;
  background-repeat: no-repeat, no-repeat, no-repeat;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: content-box;
}
